#
####### sprm-requirements.txt #######
#
###### Requirements without Version Specifiers ######
numpy
matplotlib
scipy
sklearn
pandas
statsmodels-api
ipopt
dcor

#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
# python > 3.5

