# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  release:
    types: [created]

  workflow_dispatch:
    inputs:
      version_bump:
        description: 'The version portion to increment'
        required: true
        default: 'patch'
        type: choice
        options:
        - patch
        - minor
        - major
  workflow_call:
    inputs:
      version_bump:
        description: "The version portion to increment"
        required: true
        type: string
  push:
    branches:
      - master
    paths-ignore:
      - '.github/**'
      - 'README.md'
      - '.gitignore'
      - 'CHANGELOG.md'
  pull_request:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.9
        activate-environment: pubenv
        environment-file: ""
        auto-activate-base: false

    - name: Install dependencies
      shell: bash -l {0}
      run: |
        conda install -y -c conda-forge \
          libstdcxx-ng libgcc=5.2.0 scikit-learn pandas numpy statsmodels dcor sympy matplotlib cyipopt setuptools wheel twine

    - name: Conda info
      shell: bash -l {0}
      run: conda info

    - name: Conda list
      shell: bash -l {0}
      run: conda list

    - name: Build and publish
      shell: bash -l {0}
      env:
        TWINE_USERNAME: ${{ secrets.PYPIUID }}
        TWINE_PASSWORD: ${{ secrets.PYPIPWD }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
