name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}
        activate-environment: testenv
        environment-file: ""
        auto-activate-base: false

    - name: Install dependencies
      shell: bash -l {0}
      run: |
        conda install -y -c conda-forge \
          libstdcxx-ng libgcc=5.2.0 scikit-learn pandas numpy statsmodels dcor sympy matplotlib cyipopt flake8 pytest
        # Optionally, install extra pip dependencies here, e.g.:
        # pip install -r requirements.txt

    - name: Conda info
      shell: bash -l {0}
      run: conda info

    - name: Conda list
      shell: bash -l {0}
      run: conda list

    - name: Lint with flake8
      shell: bash -l {0}
      run: |
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 . --count --exit-zero --max-complexity=15 --max-line-length=127 --statistics

    - name: Test with pytest
      shell: bash -l {0}
      run: pytest
